﻿@{
    ViewBag.Title = "Files";
}
@model PasswordManager.Models.FilesViewModel

<div class="container">
    <h2>Files</h2>
    @using (Html.BeginForm("AddFile", "Passwords", FormMethod.Post, new { id = "NewFileForm" }))
    {
        @Html.AntiForgeryToken()
            <label class="btn btn-primary btn-block" style="margin-bottom: 1rem;">
                <input type="file" name="file" id="file" style="display: none;"/><i class="fas fa-file-upload"></i> &nbsp; Add New File
            </label>
    }
    @foreach (var file in Model.Files)
    {
        <div class="panel panel-default" data-title="@file.Title" id="panel-@file.Id" name="file-panel">
            <div class="panel-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="btn-group">
                            <button class="btn btn-danger delete-file" data-id="@file.Id" style="width: 5rem;"><i class="fas fa-trash-alt"></i></button>
                            <a class="btn btn-primary" aria-expanded="false" href="@Url.Action("DownloadFile", "Passwords", new { id = file.Id })" target="_blank" style="width: 5rem; margin-right: 1rem;"><i class="fas fa-file-download"></i></a>
                        </div>
                        <strong style="word-wrap: break-word;">@file.Title &nbsp;</strong>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var  copyToClipboard = str => {
        var el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    };

    $('.delete-file').on('click',
        function() {
            if (!confirm("Are you sure you want to delete this file?")) {
                return;
            }

            var id = $(this).attr('data-id');
            var data = {
                Id: id
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteFile")',
                data: AddAntiForgeryToken(data),
                success: function (result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        window.alert(result.message);
                    }
                }
            });
        });

    $('input[name=file]').on('input',
        function() {
            var formData = new FormData();
            var token = $('input[name="__RequestVerificationToken"]').val();
            formData.append("file", $("#file")[0].files[0]);
            formData.append("title", encodeURIComponent($('#file').val().split("\\").slice(-1)[0]));
            formData.append("__RequestVerificationToken", token);

            console.log(formData);
            console.log($("#file")[0].files[0]);
            console.log(encodeURIComponent($('#file').val().split("\\").slice(-1)[0]));
            console.log(token);

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddFile")',
                data: formData,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function(result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        $('#NewFileValidation').text(result.message);
                    }
                }
            });
        });

    $(document).ready(function () {
        $('#newFileModal').on('hidden.bs.modal',
            function() {
                $('#NewFileValidation').text("");
            });

        $('#editFileModal').on('hidden.bs.modal',
            function () {
                $('#EditFileValidation').text("");
            });
    });

    $('#NewFileForm').on('submit',
        function(e) {
            e.preventDefault();
        });

    $('#search').on('input',
        function () {
            var text = $(this).val().toLowerCase();
            $.each($("[name=file-panel]"),
                function () {
                    if ($(this).attr('data-title').toLowerCase().includes(text)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
        });
</script>
