﻿@{
    ViewBag.Title = "Passwords";
}
@model PasswordManager.Models.PasswordsViewModel

<div class="modal fade" id="newPasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><strong>New Password</strong></h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddPassword", "Passwords", FormMethod.Post, new { id = "NewPasswordForm" }))
                {
                    var addPasswordViewModel = new PasswordManager.Models.AddPasswordViewModel();
                    @Html.AntiForgeryToken()

                    <label class="label label-danger" id="NewPasswordValidation"></label>

                    <div class="form-group">
                        @Html.LabelFor(m => addPasswordViewModel.Title) <br/>
                        @Html.TextBoxFor(m => addPasswordViewModel.Title)
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.ValidationMessageFor(m => addPasswordViewModel.Password)
                                @Html.LabelFor(m => addPasswordViewModel.Password) <br/>
                                @Html.PasswordFor(m => addPasswordViewModel.Password)
                            </div>

                            <div class="form-group">
                                @Html.ValidationMessageFor(m => addPasswordViewModel.ConfirmPassword)
                                @Html.LabelFor(m => addPasswordViewModel.ConfirmPassword) <br/>
                                @Html.PasswordFor(m => addPasswordViewModel.ConfirmPassword)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Letters: </label>
                                <input name="gen-chars" type="text" value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!&quot;#$%&amp;\'()*+,-./:;&lt;=&gt;@Html.Raw("@")?[\\]^_`{|}~"/>
                            </div>
                            <div class="form-group">
                                <label>Length: </label>
                                <input name="gen-length" type="number" value="24"/>
                            </div>
                            <button class="btn btn-block btn-success" name="generateButton">Generate</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="newPasswordConfirm" class="btn btn-primary" name="submitForm">Confirm</button>
                <button type="button" id="newPasswordCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><strong>Edit Password</strong></h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditPassword", "Passwords", FormMethod.Post, new { id = "EditPasswordForm" }))
                {
                    var editPasswordViewModel = new PasswordManager.Models.AddPasswordViewModel();
                    @Html.AntiForgeryToken()

                    <label class="label label-danger" id="EditPasswordValidation"></label>

                    <div class="form-group">
                        @Html.LabelFor(m => editPasswordViewModel.Title) <br />
                        @Html.TextBoxFor(m => editPasswordViewModel.Title)
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.ValidationMessageFor(m => editPasswordViewModel.Password)
                                @Html.LabelFor(m => editPasswordViewModel.Password) <br />
                                @Html.PasswordFor(m => editPasswordViewModel.Password)
                            </div>
                            <div class="form-group">
                                @Html.ValidationMessageFor(m => editPasswordViewModel.ConfirmPassword)
                                @Html.LabelFor(m => editPasswordViewModel.ConfirmPassword) <br />
                                @Html.PasswordFor(m => editPasswordViewModel.ConfirmPassword)
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Letters: </label>
                                <input name="gen-chars" type="text" value="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!&quot;#$%&amp;\'()*+,-./:;&lt;=&gt;@Html.Raw("@")?[\\]^_`{|}~"/>
                            </div>
                            <div class="form-group">
                                <label>Length: </label>
                                <input name="gen-length" type="number" value="24"/>
                            </div>
                            <button class="btn btn-block btn-success" name="generateButton">Generate</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="editPasswordConfirm" class="btn btn-primary" data-id="-1" name="submitForm">Confirm</button>
                <button type="button" id="editPasswordCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <h2>Passwords</h2>
        <button class="btn btn-primary btn-block" style="margin-bottom: 1rem;" data-toggle="modal" data-target="#newPasswordModal">Add New Password</button>
        <hr/>
        
        <div class="form-group">
            <label for="search">Search:</label>
            <input type="text" class="form-control" id="search">
        </div>

        @foreach (var password in Model.Passwords)
        {
            <div class="panel panel-default" data-title="@password.Title" id="panel-@password.Id" name="password-panel">
                <div class="panel-heading">
                    <div class="container-fluid">
                        <div class="row">
                            <strong style="word-wrap: break-word;">@password.Title &nbsp;</strong>
                            <div class="btn-group">
                                <button class="btn btn-danger delete-password" data-id="@password.Id"><i class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-default edit-password" data-id="@password.Id" data-title="@password.Title" data-password="@password.Password"><i class="fas fa-pencil-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="btn-group">
                        <button class="btn btn-primary copy-password" data-pass="@password.Password"><i class="far fa-clipboard"></i> &nbsp;Copy</button>
                        <button class="btn btn-default show-password" data-toggle="collapse" href="#collapse-@password.Id" aria-expanded="false" style="width: 7rem;">Show</button>
                    </div>
                    <div class="collapse" id="collapse-@password.Id" style="margin-top: 1rem;">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                @password.Password
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script type="text/javascript">
    var  copyToClipboard = str => {
        var el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    };

    $('.copy-password').on('click',
        function () {
            var password = $(this).attr('data-pass');
            copyToClipboard(password);
        });

    $('.show-password').on('click',
        function () {
            var shown = $(this).text() == "Hide";
            $(this).text(shown ? "Show" : "Hide");
        });

    $('.delete-password').on('click',
        function() {
            if (!confirm("Are you sure you want to delete this password?")) {
                return;
            }

            var id = $(this).attr('data-id');
            var data = {
                Id: id
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeletePassword")',
                data: AddAntiForgeryToken(data),
                success: function (result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        window.alert(result.message);
                    }
                }
            });
        });

    $('.edit-password').on('click',
        function() {
            var id = $(this).attr('data-id');
            var title = $(this).attr('data-title');
            var password = $(this).attr('data-password');

            $('#editPasswordConfirm').attr('data-id', id);
            $('#editPasswordModal').modal('show');
            $('#editPasswordViewModel_Title').val(title);
            $('#editPasswordViewModel_Password').val(password);
            $('#editPasswordViewModel_ConfirmPassword').val(password);
        });

    $('#newPasswordConfirm').on('click',
        function() {
            var data = {
                title: encodeURIComponent($('#addPasswordViewModel_Title').val()),
                password: encodeURIComponent($('#addPasswordViewModel_Password').val()),
                confirmPassword: encodeURIComponent($('#addPasswordViewModel_ConfirmPassword').val())
            };
            console.log(data.password);
            if (data.password != data.confirmPassword) {
                $('#NewPasswordValidation').text("Passwords do not match");
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddPassword")',
                data: AddAntiForgeryToken(data),
                success: function(result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        $('#NewPasswordValidation').text(result.message);
                    }
                }
            });
        });

    $('#editPasswordConfirm').on('click',
        function() {
            var data = {
                id: $(this).attr('data-id'),
                title: encodeURIComponent($('#editPasswordViewModel_Title').val()),
                password: encodeURIComponent($('#editPasswordViewModel_Password').val()),
                confirmPassword: encodeURIComponent($('#editPasswordViewModel_ConfirmPassword').val())
            };
            if (data.password != data.confirmPassword) {
                $('#EditPasswordValidation').text("Passwords do not match");
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditPassword")',
                data: AddAntiForgeryToken(data),
                success: function(result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        $('#EditPasswordValidation').text(result.message);
                    }
                }
            });
        });

    $(document).ready(function () {
        $('#newPasswordModal').on('hidden.bs.modal',
            function() {
                $('#NewPasswordValidation').text("");
                $('#addPasswordViewModel_Title').val("");
                $('#addPasswordViewModel_Password').val("");
                $('#addPasswordViewModel_ConfirmPassword').val("");
            });

        $('#editPasswordModal').on('hidden.bs.modal',
            function () {
                $('#EditPasswordValidation').text("");
                $('#editPasswordViewModel_Title').val("");
                $('#editPasswordViewModel_Password').val("");
                $('#editPasswordViewModel_ConfirmPassword').val("");
            });
    });

    $('#NewPasswordForm').on('submit',
        function(e) {
            e.preventDefault();
        });

    $('#EditPasswordForm').on('submit',
        function (e) {
            e.preventDefault();
        });

    $('#search').on('input',
        function() {
            var text = $(this).val().toLowerCase();
            $.each($("[name=password-panel]"),
                function() {
                    if ($(this).attr('data-title').toLowerCase().includes(text)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
        });

    $('[name=generateButton]').on('click',
        function() {
            var len = $(this).closest("div").find("[name=gen-length]").val();
            var chars = $(this).closest("div").find("[name=gen-chars]").val();
            var inputs = $(this).closest(".row").find("input[type=password]");
            
            if (isNaN(len)) return;
            if (chars.length < 1) return;

            var newPassword = "";

            var vals = new Uint16Array(len);
            window.crypto.getRandomValues(vals);
            console.log(vals);

            vals.forEach(function(e) {
                console.log(Math.floor((e / 65536.0) * chars.length));
                newPassword += chars[Math.floor((e / 65536.0) * chars.length)];
            });

            $.each(inputs,
                function(e) {
                    $(this).val(newPassword);
                });
        });
    </script>
