﻿@{
    ViewBag.Title = "Secure Notes";
}
@model PasswordManager.Models.NotesViewModel

<div class="modal fade" id="newNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><strong>New Note</strong></h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddNote", "Passwords", FormMethod.Post, new { id = "NewNoteForm" }))
                {
                    var addNoteViewModel = new PasswordManager.Models.AddNotesViewModel();
                    @Html.AntiForgeryToken()

                    <label class="label label-danger" id="NewNoteValidation"></label>

                    <div class="form-group">
                        @Html.LabelFor(m => addNoteViewModel.Title) <br />
                        @Html.TextBoxFor(m => addNoteViewModel.Title)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => addNoteViewModel.Note) <br />
                        @Html.TextAreaFor(m => addNoteViewModel.Note, new { @rows = 8, style = "width: 100%; max-width:100%;" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="newNoteConfirm" class="btn btn-primary">Confirm</button>
                <button type="button" id="newNoteCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title"><strong>Edit Note</strong></h5>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("EditNote", "Passwords", FormMethod.Post, new { id = "EditNoteForm" }))
                {
                    var editNoteViewModel = new PasswordManager.Models.AddNotesViewModel();
                    @Html.AntiForgeryToken()

                    <label class="label label-danger" id="EditNoteValidation"></label>

                    <div class="form-group">
                        @Html.LabelFor(m => editNoteViewModel.Title) <br />
                        @Html.TextBoxFor(m => editNoteViewModel.Title)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => editNoteViewModel.Note) <br />
                        @Html.TextAreaFor(m => editNoteViewModel.Note, new { @rows = 8, style="width: 100%; max-width:100%;"})
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" id="editNoteConfirm" class="btn btn-primary" name="submit" data-id="-1">Confirm</button>
                <button type="button" id="editNoteCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>Notes</h2>
    <button class="btn btn-primary btn-block" style="margin-bottom: 1rem;" data-toggle="modal" data-target="#newNoteModal">Add New Note</button>
    @foreach (var note in Model.Notes)
    {
        <div class="panel panel-default" data-title="@note.Title" id="panel-@note.Id" name="note-panel">
            <div class="panel-heading">
                <div class="container-fluid">
                    <div class="row">
                        <strong style="word-wrap: break-word; width: 90%;">@note.Title &nbsp;</strong>
                        <div class="btn-group">
                            <button class="btn btn-danger delete-Note" data-id="@note.Id"><i class="fas fa-trash-alt"></i></button>
                            <button class="btn btn-default edit-Note" data-id="@note.Id" data-title="@note.Title" data-Note="@note.Note"><i class="fas fa-pencil-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="btn-group">
                    <button class="btn btn-default show-Note" data-toggle="collapse" href="#collapse-@note.Id" aria-expanded="false" style="width: 7rem;">Show</button>
                </div>
                <div class="collapse" id="collapse-@note.Id" style="margin-top: 1rem;">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            @{ var splitNote = note.Note.Split('\n'); }
                            @foreach (var line in splitNote)
                            {
                                <p>@line</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $('.show-Note').on('click',
        function () {
            var shown = $(this).text() == "Hide";
            $(this).text(shown ? "Show" : "Hide");
        });

    $('.delete-Note').on('click',
        function() {
            if (!confirm("Are you sure you want to delete this note?")) {
                return;
            }

            var id = $(this).attr('data-id');
            var data = {
                Id: id
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteNote")',
                data: AddAntiForgeryToken(data),
                success: function (result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        window.alert(result.message);
                    }
                }
            });
        });

    $('.edit-Note').on('click',
        function() {
            var id = $(this).attr('data-id');
            var title = $(this).attr('data-title');
            var Note = $(this).attr('data-Note');

            $('#editNoteConfirm').attr('data-id', id);
            $('#editNoteModal').modal('show');
            $('#editNoteViewModel_Title').val(title);
            $('#editNoteViewModel_Note').val(Note);
            $('#editNoteViewModel_ConfirmNote').val(Note);
        });

    $('#newNoteConfirm').on('click',
        function() {
            var data = {
                title: $('#addNoteViewModel_Title').val(),
                Note: $('#addNoteViewModel_Note').val(),
                confirmNote: $('#addNoteViewModel_ConfirmNote').val()
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddNote")',
                data: AddAntiForgeryToken(data),
                success: function(result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        $('#NewNoteValidation').text(result.message);
                    }
                }
            });
        });

    $('#editNoteConfirm').on('click',
        function() {
            var data = {
                id: $(this).attr('data-id'),
                title: $('#editNoteViewModel_Title').val(),
                Note: $('#editNoteViewModel_Note').val(),
                confirmNote: $('#editNoteViewModel_ConfirmNote').val()
            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditNote")',
                data: AddAntiForgeryToken(data),
                success: function(result) {
                    if (result.success == 1) {
                        location.reload();
                    } else {
                        $('#EditNoteValidation').text(result.message);
                    }
                }
            });
        });

    $(document).ready(function () {
        $('#newNoteModal').on('hidden.bs.modal',
            function() {
                $('#NewNoteValidation').text("");
                $('#addNoteViewModel_Title').val("");
                $('#addNoteViewModel_Note').val("");
                $('#addNoteViewModel_ConfirmNote').val("");
            });

        $('#editNoteModal').on('hidden.bs.modal',
            function () {
                $('#EditNoteValidation').text("");
                $('#editNoteViewModel_Title').val("");
                $('#editNoteViewModel_Note').val("");
                $('#editNoteViewModel_ConfirmNote').val("");
            });
    });

    $('#NewNoteForm').on('submit',
        function(e) {
            e.preventDefault();
        });

    $('#EditNoteForm').on('submit',
        function (e) {
            e.preventDefault();
        });

    $('#search').on('input',
        function () {
            var text = $(this).val().toLowerCase();
            $.each($("[name=note-panel]"),
                function () {
                    if ($(this).attr('data-title').toLowerCase().includes(text)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
        });

    //$('input').keyup(function(event) {
    //    if (event.keyCode === 13) {
    //        $(this).closest(".modal-content").find("[name=submitForm]").click();
    //    }
    //});
</script>
