﻿<div class="jumbotron">
    <h1>
        <span class="fa-stack fa-1x">
            <i class="fas fa-circle-notch fa-spin fa-stack-2x" style="color: cadetblue"></i>
            <i class="fas fa-lock fa-stack-1x"></i>
        </span>
        &nbsp; Password Manager 
    </h1>
</div>